# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Работа\IT\Не Java\0. Примеры проектов\3. Spring\5. Полноценное CRUD приложение\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
